---
import Layout from "../layouts/Layout.astro";

const { title, description } = {
  title: "bashar | gallery",
  description: "",
};
---

<Layout title={title} description={description}>
  <p>workin' on it...</p>
</Layout>
