---
import { env } from "cloudflare:workers";

const clientId = env.SPOTIFY_CLIENT_ID;
const clientSecret = env.SPOTIFY_CLIENT_SECRET;

const lastfmApiKey = env.LASTFM_API_KEY;

const recentTracks = await fetch(
  `https://ws.audioscrobbler.com/2.0/?${new URLSearchParams({
    method: "user.getrecenttracks",
    user: "basharr",
    api_key: lastfmApiKey,
    format: "json",
    limit: "5",
  })}`,
).then((r) => r.json());
---

<div></div>

<script is:inline define:vars={{ clientId, recentTracks }}>
  console.log(clientId);
  console.log(recentTracks);
</script>
