---
import { env } from "cloudflare:workers";

// const spotifyClientId = env.SPOTIFY_CLIENT_ID;
// const spotifyClientSecret = env.SPOTIFY_CLIENT_SECRET;

const lastfmApiKey = env.LASTFM_API_KEY;

interface RecentTracks {
  recenttracks: {
    track: { url: string }[];
  };
}

const { recenttracks } = await fetch(
  `https://ws.audioscrobbler.com/2.0/?${new URLSearchParams({
    method: "user.getrecenttracks",
    user: "basharr",
    api_key: lastfmApiKey,
    format: "json",
    limit: "5",
  })}`,
).then((r) => r.json<RecentTracks>());

const spotifyIds = (
  await Promise.all(
    recenttracks.track.map(async (track) => {
      return (await fetch(track.url).then((r) => r.text())).match(
        /open\.spotify\.com\/track\/([A-Za-z0-9]+)/,
      )?.[1];
    }),
  )
).filter((id) => id !== undefined);
---

{
  spotifyIds.length > 0 && (
    <section>
      <h2 class="text-on-bg text-md mb-2 font-mono">
        what I've been listening to-
      </h2>

      <div>
        {spotifyIds.map((id) => (
          <iframe src={`https://open.spotify.com/embed/track/${id}`} />
        ))}
      </div>
    </section>
  )
}

<script is:inline define:vars={{ spotifyIds }}>
  console.log(spotifyIds);
</script>
