---
import Layout from "./Layout.astro";
import Music from "../components/Music.astro";

interface Props {
  frontmatter: {
    title?: string;
    description?: string;
  };
}

const { title, description } = Astro.props.frontmatter;
---

<Layout title={title} description={description}>
  <div
    class="grid grid-cols-[1fr_auto_1fr] max-sm:flex max-sm:flex-col max-sm:gap-8 sm:h-full"
  >
    <aside class="max-sm:order-last">
      <Music server:defer />
    </aside>

    <main class="prose prose-stone dark:prose-invert">
      <slot />
    </main>
  </div>
</Layout>
