---
import Layout from "./Layout.astro";
import Spotify from "../components/Spotify.astro";

interface Props {
  frontmatter: {
    title?: string;
    description?: string;
  };
}

const { title, description } = Astro.props.frontmatter;
---

<Layout title={title} description={description}>
  <div class="grid grid-cols-[1fr_auto_1fr]">
    <aside>
      <Spotify server:defer />
    </aside>

    <main class="prose prose-stone dark:prose-invert">
      <slot />
    </main>
  </div>
</Layout>
